<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Tsundoku </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  </head>

  <body>
    <div class="page-container">

      <div class='cover-the-page'></div>

      <div class="header-container">
        <a href='/users/home'><div class="main-header">TSUNDOKU</div></a>  <span class='sub-header'>(n.) The condition of acquiring reading materials but letting them pile up in one's home without reading them.</span>
        <nav class="dropdown-menu"><i class="fa fa-user fa-3x"></i>
          <div class="dropdown-content">
            <a href='/users/profile'><div class='dropdown-content-button'>View Profile</div></a>
            <form action="/auth?_method=DELETE" method="post">
              <input class='log-out-button' type="submit" value="Log Out">
            </form>
          </div>
        </nav> <!-- dropdown-menu -->
      </div> <!-- header-container -->

      <div class='profile-area-container'>

        <div class='profile-area left-side'>
          <div class='profile-left-header'>YOU PROBABLY WONT READ THESE BUT...</div>
          <div class='bookcase'>
            <% for (i = 0; i < faves.length; i++) { %>
              <img class='book-thumbnail' src='<%= faves[i].thumbnail %>' data-modalID='#<%= faves[i]._id %>'></img>
              <div class='profile-book-modal' id='<%= faves.id %>'>
                <li class='profile-book-name'><%=faves[i].title%></li> <br>
                <li class='profile-author-name'><%=faves[i].authors%></li> <br>
                <li class='profile-description-text'><%=faves[i].description%></li>
              </div>
              <% console.log('==========================') %>
              <% console.log(faves[0]) %>
            <% } %>
          </div>
        </div>

        <div class='profile-area right-side'>
          <div class='profile-right-header'>SOMETHING COOL</div>
        </div>
      </div> <!-- profile-area-container -->


      <div class="footer"><a href='http://github.com/iSyn'>Made with <span class='heart'>&hearts;</span> by Synclair Wang</a></div>

    </div> <!-- page-container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="../scripts.js"></script>

  </body>

</html>
