<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Tsundoku </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  </head>

  <body>

    <div class="page-container">

      <div class='tsundokud-modal'>TSUNDOKU'd</div>

      <div class='cover-the-page'></div>

      <div class="header-container">
        <a href='/users/home'><div class="main-header">TSUNDOKU</div></a>  <span class='sub-header'>(n.) The condition of acquiring reading materials but letting them pile up in one's home without reading them.</span>
        <nav class="dropdown-menu"><i class="fa fa-user fa-3x"></i>
          <div class="dropdown-content">
            <a href='/users/profile'><div class='dropdown-content-button'>View Profile</div></a>
            <form action="/auth?_method=DELETE" method="post">
              <input class='log-out-button' type="submit" value="Log Out">
            </form>
          </div>
        </nav> <!-- dropdown-menu -->
      </div> <!-- header-container -->

      <div class="content-area-container-search">
        <div class="search-results">
          <% books.forEach((book) => { %>
          <% if (book.volumeInfo.imageLinks){ %>
            <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" data-modalID="#<%= book.id %>">
            <% }; %>
            <div class="modal" id='<%= book.id %>'>
              <div class='modal-container'>
                <i class="fa fa-times" aria-hidden="true"></i>
                <div class='modal-area book-picture-area'>
                  <% if (book.volumeInfo.imageLinks){ %>

                  <form action='/users/search' method='POST'>
                    <img class='modal-image' src="<%= book.volumeInfo.imageLinks.thumbnail %>"> <% }; %>

                </div>
                  <div class='modal-area book-info-area'>
                    <li class='title-name'><%=book.volumeInfo.title%></li> <br>
                    <li class='author-name'>By <%=book.volumeInfo.authors%></li> <br>
                    <% if (book.volumeInfo.imageLinks){ %>
                    <input type='hidden' name='thumbnail' value='<%=book.volumeInfo.imageLinks.thumbnail%>'>
                    <% } %>
                    <input type='hidden' name='title' value='<%=book.volumeInfo.title%>'>
                    <input type='hidden' name='author' value='<%=book.volumeInfo.authors%>'>
                    <input type='hidden' name='description' value='<%=book.volumeInfo.description%>'>
                    <button class='tsundoku-it' type="submit">TSUNDOKU IT</button>
                    <li class='book-description'><br><%=book.volumeInfo.description%></li>
                  </form>

                </div>
              </div> <!-- model-container -->
            </div>
          <% }) %>
          <a href='#'><div class='more-books'>Show more books...</div></a>
        </div>
      </div>

      <div class="footer"><a href='http://github.com/iSyn'>Made with <span class='heart'>&hearts;</span> by Synclair Wang</a></div>
    </div> <!-- page-container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="../scripts.js"></script>
  </body>

</html>
